language: objective-c
osx_image: xcode8.3
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
before_install:
  - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild -list
  - xcodebuild clean build -project VaingloryAPI.xcodeproj -sdk iphonesimulator | xcpretty
  - xcodebuild test -project VaingloryAPI.xcodeproj -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3' -configuration Debug | xcpretty
  - xcodebuild test -project VaingloryAPI.xcodeproj -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3' -configuration Release | xcpretty
  - pod lib lint
