language: objective-c
osx_image: xcode8.3
script:
  - set -o pipefail
  - xcodebuild clean build -workspace VaingloryAPI.xcworkspace -scheme VaingloryAPI -sdk iphonesimulator | xcpretty
  - xcodebuild test -workspace VaingloryAPI.xcworkspace -scheme VaingloryAPI -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3' | xcpretty
  - pod lib lint
